*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER----------------------------  */

header{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


.header-high{
    font-size:0;  
}

/* CONTENITORI  */
.container-left,.container-right{
    width: 50%;
    padding:20px;
    display: inline-block;
}
.big-container{
    max-width: 1300px;
    margin:auto;
    padding: 50px 0;
}

.small-container{
    max-width: 1080px;
    margin:auto;
}

/* CONTENITORE HEADER DI SINITRA  */


.logo, .nav-left{
    display: inline-block;
    vertical-align: middle;
}
.nav-left{
    margin-left: 50px;
    font-size:15px;
    font-weight: 500;
}

.nav-left ul li {
    display: inline-block; 
}

.nav-left li a{
    text-decoration: none;
    color: black;
}

li{
    padding-right: 50px;
}


/* CONTENITORE HEADER DI DESTRA */
.container-right{
    text-align: right;
}

.nav-right{
    display: inline-block;
    vertical-align: middle;
    font-size:15px;
}

.nav-right ul li {
    display: inline-block;
}

.nav-right li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.login{
    display: inline-block;
    vertical-align: middle;
}

/*/HEADER------------------------  */

/*PULSANTI----------------------- */

.btn{
    background-color: #0061ff;
    color:white;
    border:none;
    font-weight: 500;
}
.btn-free{
    font-size: 18px;
    padding: 10px 20px;
}

.btn-login{
padding: 10px 20px;
}

.btn-try{
    padding:10px 50px;
    font-size: 16px;
}

.btn-white{
    color:black;
    background-color: white;
    border: 1px solid black; 
    padding: 10px 20px;
}



/*HERO SECTION ------------------ */

#hero{
    background-color:#b4d0e7 ;
}

.big-container{
    max-width: 1300px;
    margin:auto;
    padding: 50px 0;
}

.title{
    font-size: 50px;
    margin-top:25px;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-first{
    float: left;
    width:35%;
    padding-right:20px;  
}

.col-second{
    float: left;
    width:65%; 
}

.col-hero{
    margin-top:50px;
    position: relative;
    margin-bottom: -150px;
}

.jumbo{
    object-fit: cover;
    width:100%;
}

.free-trial{
    padding: 20px 0;
    display: inline-block;
}

.fa-arrow-down{
    font-size:50px;
    margin-top: 30px;
}

/*/HERO SECTION ------------------ */

/* SEZIONE ABBONAMENTI--------------  */

.piano-business{
    margin-top: 200px;
    font-size: 25px;
} 

.fatturation{
    margin-top: 50px;
    padding: 0 10px;
}

.col-left, .col-right, .col-center{
    float: left;
    width: calc(100% / 3 - 30px);
    
}

.col-center{
    margin:0 45px;
}
.plane{
    border: 1px solid #d0d0d3; 
    padding: 30px 20px;
    min-height: 1060px;
    border-top:none;
}

.row{
    text-align: center;
    margin-top:40px;
    padding: 10px 0;
    border: 1px solid #d0d0d3;
    
}

.type-of-plane, small, .user, .memory{
    margin:  20px 0;
}

.user, .memory, .function{
    font-size: 15px;
 
}
.btn-trials{
    margin: 40px 0;
    text-align: center; 
}

.buy-now{
    color:#0061ff;  
}

hr{
    margin: 30px 0;
    width: 30%;
}
 
.highlights > li{
    text-decoration: none;
    font-size: 15px;
}

.highlights > ul {
list-style-type: none;
}
  
.fa-check{
    color: #0061ff;
    font-size: 20px;
}

.fa-check{
    margin-top:20px;
}

.enterprise, .btn-contact{
    display: inline-block;
    width: 50%;
}
.enterprise{
    font-size:17px;
    vertical-align: middle;
}
.assistance{
    padding: 20px 30px;
    font-size:0;
    border: 1px solid #d0d0d3;
    border-top:none;
}

.btn-contact{
    text-align: right;
    vertical-align: middle;
}

.office{
    font-size: 16px;
    margin: 20px 0;
}
.support{
    font-size: 15px;
}

/* /SEZIONE ABBONAMENTI------------- */

/* SEZIONE TROVA PARTNER-------- */

.col{
    float: left;
}

.col-3{
    width: 60%;
    padding-right: 50px;
}

.col-4{
    width: 40%;
    margin-top:40px;
}

.partner{
    width: 100%;
}

.partner-container{
    margin: 150px 0;
}

.partner-text{
    margin: 30px 0;
}

/* /SEZIONE TROVA PARTNER ------------- */

/* SEZIONE DROPBOX BUSINESS------------ */

.foto{
    width: 100%;
    margin:30px 0;
}

.business-title{
    font-size:25px;
}

.business-mini-title{
    font-size:18px;
    margin-bottom: 30px;
}

.row-partner-bottom{
    margin-bottom: 50px;
}

/* /SEZIONE DROPBOX BUSINESS------------ */

/* SEZIONE NUMERO PERSONE SU DROPBOX -------- */

.number-title{
    font-size:25px;
    width: 68%;
    margin-top: 200px;
    margin-bottom:20px;
}
/* /SEZIONE NUMERO PERSONE SU DROPBOX -------- */

/* SEZIONE MEMBRI DROPBOX -------------- */

.large-container{
    width: 100%;
    min-height: 500;
    margin-top:50px;
}

.col-sx, .col-dx{
    float: left;
    height: 30vw;
    width: 30vw; 
}

.col-middle{
    float: left;
    background-color: #f5f5f5;
    height: 30vw;
    width: calc(100% - 60vw);
    padding: 50px;
    overflow-y: auto;
}

.square{
    width: 50%;
    height: 15vw;
    background-color: green;
    position: relative;
    float: left;
}

.square:hover{
    -webkit-box-shadow:inset 0px 0px 0px 10px rgba(255,255,255,0.3);
    box-shadow:inset 0px 0px 0px 10px rgba(255,255,255,0.3);
    cursor: pointer;
}

.member-foto{
    width: 50%;
    object-fit: cover;
    position: absolute;
    filter: invert(100%);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-designit{
    background-color:#a2d39b;
}

.square-florida{
    background-color:#0093ce;
}

.square-arizona{
    background-color:#61082b;
}

.square-tops{
    background-color:#ff1c1c;
}

.middle-logo{
    width: 30%;
}

.autor{
    margin:50px 0;
}

.second-hr{
    margin:50px 0;
    width:20%
}

.square-bicycle{
    background-color:#d5001f;
}

.square-hearst{
    background-color:#b4d0e7;
}
.square-lonely{
    background-color: #0d2481;
}

.square-clear{
    background-color: #ffd830;
}

/* /SEZIONE MEMBRI DROPBOX -------------- */

/* PROVA GRATUITA DROPBOX--------------  */
.second-large-container{
    background-color: #b4d0e7;
    width: 100%;
}

.title-dropbox-business, .button-free-trials{
    width: 50%;
    display: inline-block;
}

.free-container{
    font-size: 0;
    padding:100px 0;
    min-height: 300px;
}

.title-dropbox-business{
    font-size:25px;
    color:#61082b;
}

.btn-start-trials{
    background-color: white;
    color:black;
    padding:10px 40px;
    font-size: 16px;
}

.button-free-trials{
    text-align: right;
    vertical-align: top;  
}
/* /PROVA GRATUITA DROPBOX--------------  */

/* SEZIONE FAQ------------------ */

.faq-container{
    margin-top:150px;
    font-size: 0;
}


.frequent-faq{
    font-size: 20px;
    margin-bottom: 50px; 
}

.faq-hr{
    width: 100%;
    margin:30px 0;
}

.faq, .faq-check{
    display:inline-block;
    vertical-align: middle;
}


.faq{
    font-weight: 600;
    width: 70%;
    font-size: 18px;
}

.faq-check{
    width: 30%;
    text-align: right;
    font-size: 15px;
    padding-right:30px;
}
/* <!-- /SEZIONE FAQ  ----------> */

/* FOOTER-TOP-------------- */

.big-container-footer, .big-container-footer-bottom{
    max-width: 1300px;
    margin:auto;
}

.big-container-footer{
    padding-top: 50px;
}

.big-container-footer-bottom{
    margin-top:30px;
}

footer{
    background-color: black;
    margin-top:150px;
}

.footer-top{
    margin-top:50px;
}
.footer-nav li a{
    text-decoration: none;
    color: white;
    font-size:15px;
    
}

.footer-nav ul{
    list-style-type: none;
    margin: 20px 0;
}

.title-footer{
    font-weight: 900;
    color:white;
}

.footer-li{
    padding: 10px 0;
}

.col-footer{
    float: left;
    width: 20%;
}

.hr-bottom{
    width:10%;
    margin-bottom: 50px;
    color:white;
}

.languages{
    color:grey;
    font-size:15px;
    padding-bottom: 50px;
}
