*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER----------------------------  */

.header-high{
    font-size:0;
}

/* CONTENITORI  */
.container-left,.container-right{
    width: 50%;
    padding:20px;
    display: inline-block;
}
.big-container{
    max-width: 1300px;
    margin:auto;
    padding: 50px 0;
}

.small-container{
    max-width: 1080px;
    margin:auto;
}

/* CONTENITORE HEADER DI SINITRA  */


.logo, .nav-left{
    display: inline-block;
    vertical-align: middle;
}
.nav-left{
    margin-left: 50px;
    font-size:15px;
    font-weight: 500;
}

.nav-left ul li {
    display: inline-block; 
}

.nav-left li a{
    text-decoration: none;
    color: black;
}

li{
    padding-right: 50px;
}


/* CONTENITORE HEADER DI DESTRA */
.container-right{
    text-align: right;
}

.nav-right{
    display: inline-block;
    vertical-align: middle;
    font-size:15px;
}

.nav-right ul li {
    display: inline-block;
}

.nav-right li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.login{
    display: inline-block;
    vertical-align: middle;
}

/*/HEADER------------------------  */

/*PULSANTI----------------------- */

.btn{
    background-color: #0061ff;
    color:white;
    border:none;
    font-weight: 500;
}
.btn-free{
    font-size: 18px;
    padding: 10px 20px;
}

.btn-login{
padding: 10px 20px;
}

.btn-try{
    padding:10px 50px;
    font-size: 16px;
}

.btn-white{
    color:black;
    background-color: white;
    border: 1px solid black; 
    padding: 10px 20px;
}



/*HERO SECTION ------------------ */

#hero{
    background-color:#b4d0e7 ;
}

.big-container{
    max-width: 1300px;
    margin:auto;
    padding: 50px 0;
}

.title{
    font-size: 50px;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-first{
    float: left;
    width:35%;
    padding-right:20px;  
}

.col-second{
    float: left;
    width:65%; 
}

.col-hero{
    margin-top:50px;
    position: relative;
    margin-bottom: -150px;
}

.jumbo{
    object-fit: cover;
    width:100%;
}

.free-trial{
    padding: 20px 0;
}

.fa-arrow-down{
    font-size:50px;
    margin-top: 30px;
}

/*/HERO SECTION ------------------ */

/* SEZIONE ABBONAMENTI--------------  */

.piano-business{
    margin-top: 200px;
    font-size: 25px;
} 

.fatturation{
    margin-top: 50px;
    padding: 0 10px;
}

.col-left, .col-right, .col-center{
    float: left;
    width: calc(100% / 3 - 30px);
    
}

.col-center{
    margin:0 45px;
}
.plane{
    border: 1px solid #d0d0d3; 
    padding: 30px 20px;
    min-height: 1060px;
    border-top:none;
}

.row{
    text-align: center;
    margin-top:40px;
    padding: 10px 0;
    border: 1px solid #d0d0d3;
    
}

.type-of-plane, small, .user, .memory{
    margin:  20px 0;
}

.user, .memory, .function{
    font-size: 15px;
 
}
.btn-trials{
    margin: 40px 0;
    text-align: center; 
}

.buy-now{
    color:#0061ff;  
}

hr{
    margin: 30px 0;
    width: 30%;
}
 
.highlights > li{
    text-decoration: none;
    font-size: 15px;
}

.highlights > ul {
list-style-type: none;
}
  
.fa-check{
    color: #0061ff;
    font-size: 20px;
}

.fa-check{
    margin-top:20px;
}

.enterprise, .btn-contact{
    display: inline-block;
    width: 50%;
}
.enterprise{
    font-size:17px;
    vertical-align: middle;
}
.assistance{
    padding: 20px 30px;
    font-size:0;
    border: 1px solid #d0d0d3;
    border-top:none;
}

.btn-contact{
    text-align: right;
    vertical-align: middle;
}

.office{
    font-size: 16px;
    margin: 20px 0;
}
.support{
    font-size: 15px;
}

/* /SEZIONE ABBONAMENTI------------- */

/* SEZIONE TROVA PARTNER-------- */

.col{
    float: left;
}

.col-3{
    width: 60%;
    padding-right: 50px;
}

.col-4{
    width: 40%;
    margin-top:40px;
}

.partner{
    width: 100%;
}

.partner-container{
    margin: 150px 0;
}

.partner-text{
    margin: 30px 0;
}

/* /SEZIONE TROVA PARTNER ------------- */

/* SEZIONE DROPBOX BUSINESS  */

.foto{
    width: 100%;
    margin:30px 0;
}

.business-title{
    font-size:25px;
}

.business-mini-title{
    font-size:18px;
    margin-bottom: 30px;
}

.row-partner-bottom{
    margin-bottom: 50px;
}